@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Marck+Script&family=Pangolin&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  font-family: 'Kalam', cursive;
  transition: all .5s linear;
}

.blue {
  color: #29d9d5;
}

.black {
  color: #111;
}

.white {
  color: #fff;
}

.light-color {
  color: #aaa;
}

.bg-color {
  background-color: #222;
}

.black-bg {
  background-color: rgba(17, 17, 17, .7);
}

.border {
  border: .2rem solid #29d9d5;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #111;
}

html::-webkit-scrollbar-thumb {
  background: #29d9d5;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

body {
  background: url(images/back/back8.png.png) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}

.heading span {
  color: #29d9d5;
  font-size: 2rem;
}

.heading h1 {
  font-size: 4rem;
  color: #fff;
  margin-top: 0.5rem;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #29d9d5;
  border: .2rem solid #29d9d5;
  cursor: pointer;
  background: none;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}

.btn:hover {
  color: #111;
  background: #29d9d5;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 9%;
}

.header .navbar a {
  font-size: 1.7rem;
  color: #aaa;
  display: inline-block;
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: #29d9d5;
}

.header .btn {
  margin-top: 0;
}

.logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
}

.logo i {
  color: #29d9d5;
  padding-right: 0.5rem;
}
